.chatEven {
    background-color: var(--messages-backgrounds-regular);
}

.chatOdd {
    background-color: var(--messages-backgrounds-alternate);
}

.normalText {
    color: var(--messages-textColors-regular);
}

/*system message, also other part like timestamp as well*/
.systemText {
    color: var(--messages-textColors-system);
}

.linkText {
    color: var(--messages-textColors-link);
}

/*fade out effect for history/timeout*/
.fade {
    background-color: var(--messages-disabled);
}

.highlightOverlayStart {
    background-color: var(--messages-highlightAnimationStart);

}

.highlightOverlayEnd {
    background-color: var(--messages-highlightAnimationEnd);
}

.input {
    background: var(--splits-input-background);
    color: var(--messages-textColors-regular);
    caret-color: var(--messages-textColors-caret);
}

.input::placeholder {
    color: var(--messages-textColors-chatPlaceholder);
}


.list {
    /*scrollbar-color: red black;*/
    position: relative;
}

.list::-webkit-scrollbar {
    width: 25px;
    height: 25px;
}


.list::-webkit-scrollbar-track {
    background: var(--scrollbars-background);
}

.list::-webkit-scrollbar-thumb {
    background: transparent;
    border-right: 4px solid var(--scrollbars-thumb);
}

.list::-webkit-scrollbar-thumb:hover {
    background: transparent;
    border-right: 25px solid var(--scrollbars-thumb);
}

.list::-webkit-scrollbar-thumb:active {
    background: transparent;
    border-right: 25px solid var(--scrollbars-thumbSelected);
}

/*tabs*/
/* regular tabs (unselected, no message)*/

.tabBase {
    padding: 4px 8px;
    font-size: 13px;
    position: relative;
    pointer-events: all;
}

.tabBase.tabSelected, .tabBase.tabSelectedUnfocused, .tabBase.tabSelectedForceHover {
    padding-top: 2px;
}

.tabRegular {
    background-color: var(--tabs-regular-backgrounds-regular);
    color: var(--tabs-regular-text);
    border-top: 2px solid var(--tabs-regular-line-regular);
}

.tabRegular:hover, .tabRegularForceHover {
    background-color: var(--tabs-regular-backgrounds-hover);
    color: var(--tabs-regular-text);
    border-top: 2px solid var(--tabs-regular-line-hover);
}

.tabRegularUnfocused {
    background-color: var(--tabs-regular-backgrounds-unfocused);
    color: var(--tabs-regular-text);
    border-top: 2px solid var(--tabs-regular-line-unfocused);
}

/* selected tab (current tab)*/
.tabSelected {
    background-color: var(--tabs-selected-backgrounds-regular);
    color: var(--tabs-selected-text);
    border-top: 4px solid var(--tabs-selected-line-regular);
}

.tabSelected:hover, .tabSelectedForceHover {
    background-color: var(--tabs-selected-backgrounds-hover);
    color: var(--tabs-selected-text);
    border-top: 4px solid var(--tabs-selected-line-hover);
}

.tabSelectedUnfocused {
    background-color: var(--tabs-selected-backgrounds-unfocused);
    color: var(--tabs-selected-text);
    border-top: 4px solid var(--tabs-selected-line-unfocused);
}

/* highlighted tab (ping)*/
.tabHighlighted {
    background-color: var(--tabs-highlighted-backgrounds-regular);
    color: var(--tabs-highlighted-text);
    border-top: 2px solid var(--tabs-highlighted-line-regular);
}

.tabHighlighted:hover, .tabHighlightedForceHover {
    background-color: var(--tabs-highlighted-backgrounds-hover);
    color: var(--tabs-highlighted-text);
    border-top: 2px solid var(--tabs-highlighted-line-hover);
}

.tabHighlightedUnfocused {
    background-color: var(--tabs-highlighted-backgrounds-unfocused);
    color: var(--tabs-highlighted-text);
    border-top: 2px solid var(--tabs-highlighted-line-unfocused);
}


/* highlighted tab (ping)*/
.tabNewMessage {
    background-color: var(--tabs-newMessage-backgrounds-regular);
    color: var(--tabs-newMessage-text);
    border-top: 2px solid var(--tabs-newMessage-line-regular);
}

.tabNewMessage:hover, .tabNewMessageForceHover {
    background-color: var(--tabs-newMessage-backgrounds-hover);
    color: var(--tabs-newMessage-text);
    border-top: 2px solid var(--tabs-newMessage-line-hover);
}

.tabNewMessageUnfocused {
    background-color: var(--tabs-newMessage-backgrounds-unfocused);
    color: var(--tabs-newMessage-text);
    border-top: 2px solid var(--tabs-newMessage-line-unfocused);
}

.tabContainer {
    border-bottom: 2px solid var(--tabs-dividerLine);
}

/*splits */
.split {
    background-color: var(--splits-background);
    /*there's hairline border with same color*/
    border: 1px solid var(--splits-background);
}

.splitContainerRow {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    background-color: var(--empty-split-color);
    column-gap: 1px;
    padding: 1px;
}

.splitContainerCol {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;

    background-color: var(--empty-split-color);
    row-gap: 1px;
    padding: 1px;
}

.dropPreviewRect {
    background-color: var(--splits-dropPreview);
    border: 1px solid var(--splits-dropPreviewBorder);
}

.dropTargetRectVertical {
    background-color: var(--splits-dropTargetRect);
    border: 1px solid var(--splits-dropTargetRectBorder);
    width: 25px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 0 4px;
    /*todo: what color*/
    color: white;

    position: relative;
}

/*.droppable:hover {*/
/*    background: red;*/
/*}*/

.droppable:hover::after {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: var(--splits-dropPreview);
    border: 1px solid var(--splits-dropPreviewBorder);
}


.dropTargetRectHorizontal {
    background-color: var(--splits-dropTargetRect);
    border: 1px solid var(--splits-dropTargetRectBorder);
    height: 25px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 4px 0;
    /*todo: what color*/
    color: white;

    position: relative;
}

.splitHeaderBase {
    text-align: center;
    padding: 4px 0;
}

.splitHeader {
    background-color: var(--splits-header-background);
    border: 1px solid var(--splits-header-border);
    color: var(--splits-header-text);
}

.splitHeaderFocused {
    background-color: var(--splits-header-focusedBackground);
    border: 1px solid var(--splits-header-focusedBorder);
    color: var(--splits-header-focusedText);
}

.characterCount {
    color: var(--splits-input-text);
}

.chatMessage:not(:last-child) {
    border-bottom:  var(--settings-message-separator-width) solid var(--splits-messageSeperator);
}


.resizeHandleHorizontal {
    position: relative;
    width: 100%;
    height: 1px;
    background: var(--splits-resizeHandle);
    box-shadow: 0 0 2px 4px var(--splits-resizeHandleBackground);
    z-index: 99;
}
.resizeHandleVertical {
    position: relative;
    width: 1px;
    height: 100%;
    background: var(--splits-resizeHandle);
    box-shadow: 0 0 2px 4px var(--splits-resizeHandleBackground);
    z-index: 99;
}
