.chatEven {
    background-color: var(--messages-backgrounds-regular);
}
.chatOdd {
    background-color: var(--messages-backgrounds-alternate);
}

.normalText {
    color: var(--messages-textColors-regular);
}

/*system message, also other part like timestamp as well*/
.systemText {
    color: var(--messages-textColors-system);
}

.linkText {
    color: var(--messages-textColors-link);
}

/*fade out effect for history/timeout*/
.fade {
    background-color: var(--messages-disabled);
}

.highlightOverlayStart {
    background-color: var(--messages-highlightAnimationStart);

}
.highlightOverlayEnd {
    background-color: var(--messages-highlightAnimationEnd);
}

.input {
    background: black;
    color: var(--messages-textColors-regular);
    caret-color: var(--messages-textColors-caret);
}

.input::placeholder {
    color: var(--messages-textColors-chatPlaceholder);
}

